<div class="card" style="width: 40rem; margin: 20px; background-color: #EBF5FF;">
    <div class="card-body" >
        <div class="container">
            <div class="row">
              <div class="col">
                <img style="width: 100%;" [src]="user.img">

              </div>
              <div class="col-10">
                <h5 class="card-title">{{user.name}} {{user.lastname}}</h5>
              </div>
            </div>
            </div>
      <form [formGroup]="addForm" novalidate class="form">
      <span style="padding: 80px;">
          <input type="text" formControlName="text" placeholder="What's on your mind?" name="text" class="card-text form-control" id="text">
     </span>
        </form>
    <button class="btn btn-primary" (click)="onSubmit()">Create new post</button>
    </div>
  </div>


