
<!-- <div class="row">
    <div class="col-md-2">Id</div>
    <div class="col-md-2">Text</div>
    <div class="col-md-2">Date</div>
    <div class="col-md-2">Edit</div>
    <div class="col-md-2">Delete</div>
</div> -->

<div class="container">
    <app-add></app-add>
<div class="row" *ngFor="let item of posts">
    <!-- <div class="col-md-6">{{item.text}}</div>
    <div class="col-md-3"><a href="" class="btn btn-success" (click)="edit(item.id!)">Edit</a></div>
    <div class="col-md-3"><a href="" class="btn btn-danger" (click)="delete(item)">Delete</a></div> -->
<app-edit [id]="item.id!" [date]="item.date!"></app-edit>
</div>
</div>