<div>
    <!-- <h2 class="text-center">Edit post</h2> -->
    <form [formGroup]="addForm" novalidate class="form">
        <div class="form-group">
            <label for="text">Klara Manasieva </label>
            <input type="text" formControlName="text" placeholder="Text" name="text" class="form-control" id="text">
        </div>
        
        <label for="">{{date}}</label><br>
        <button class="btn btn-success" (click)="update()">Edit Post</button>
        
        <button class="btn btn-danger" (click)="delete()">Delete Post</button>
    </form>
</div>